<html>
<head>
<title>Home Page</title>
<link th:href="@{/css/choice.css}" rel="stylesheet" />
</head>
<body>
	<h1>Manage Database</h1>
	<div id="choice" align="center">
		<ul id="list">
			<li><a href="/viewdb" class="btn btn-primary btn-lg"
				role="button">View contents</a></li>
			<li><a href="/addtable" class="btn btn-primary btn-lg"
				role="button">Add table</a></li>
			<!-- <li><a href="/remtable" class="btn btn-primary btn-lg" role="button">Remove table</a></li> -->
		</ul>
	</div>
</body>
</html>