<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Table</title>

<link th:href="@{/css/addTable.css}" rel="stylesheet" />

</head>

<body>

	<h1 id="parag" align="center">Choose the size of the matrix</h1>
	<form name="form" action="@{/addtable}" th:action="@{/addtable}"
		th:object="${usercontent}" method="post">
		<p align="center">
			Size: <input name="number" type="number" th:field="*{number}" id="fname"
				onkeyup="generate()" />
		</p>

		<table id="table" align="center">

		</table>

		<p id="demo"></p>

		<input name="content" id="matrixString" type="hidden" th:field="*{content}" />

		<button name="submit" id="button">Insert!</button>
	</form>

	<script type="text/javascript" th:src="@{/js/generate.js}"></script>
	<p class="pback" align="center">
		<a class="back" href="/">Home</a>
	</p>
</body>
</html>